<h1>About MCHSO (Established 2017)</h1>
<div>
    <h2>Purpose</h2>
    <p>
        <%= @page['purpose'] %>
    </p>

</div>
<div>
    <h2>Goal</h2>
    <p>
        <%= @page['goal'] %>
    </p>

</div>
<div>
    <h2>Membership and Dues</h2>
    <p>
        <%= @page['membership_dues'] %>
    </p>

</div>
<div>
    <h2>Membership Expectations</h2>
    <ul>
        <% if @page['expectations'] %>
            <% @page['expectations'].each do |l| %>
                <li><%=l%></li>
            <% end %>
        <% end %>
    </ul>
</div>

<div>
    <h2>What We Do</h2>
    <ul>
        <% if @page['what_we_do'] %>
            <% @page["what_we_do"].each do |l| %>
                <li><%=l%></li>
            <% end %>
        <% end %>
    </ul>
   

</div>

