<h1>About MCHSO (Established 2017)</h1>
<div>
    <h2>Purpose</h2>
    <p>
        <%= JSON.parse(@page[:page_data])['purpose'] %>
    </p>

</div>
<div>
    <h2>Goal</h2>
    <p>
        <%= JSON.parse(@page[:page_data])['goal'] %>
    </p>

</div>
<div>
    <h2>Membership and Dues</h2>
    <p>
        <%= JSON.parse(@page[:page_data])['membership_dues'] %>
    </p>

</div>
<div>
    <h2>Membership Expectations</h2>
    <ul>
        <% JSON.parse(@page[:page_data])['expectations'].each do |l| %>
            <li><%=l%></li>
        <% end %>
    </ul>
</div>

<div>
    <h2>What We Do</h2>
    <ul>
        <% JSON.parse(@page[:page_data])["what_we_do"].each do |l| %>
            <li><%=l%></li>
        <% end %>
    </ul>
   

</div>

