<h1>Internal#attend</h1>
<p>Find me in app/views/internal/attend.html.erb</p>

<h1>Events Today</h1>

<% if @events_today.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Event Name</th>
        <th>Passcode</th>
        <th>Points</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events_today.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.event_name %></td>
          <% if admin? %>
            <td><%= event.passcode %></td>
          <% end %>
          <td><%= event.points %></td>
          <td><%= truncate event.description, length: 40, separator: /\w+/ %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Events</p>
<% end %>

<h1>Upcomming Events</h1>

<% if @upcoming_events.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Event Name</th>
        <th>Passcode</th>
        <th>Points</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @upcoming_events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.event_name %></td>
          <% if admin? %>
            <td><%= event.passcode %></td>
          <% end %>
          <td><%= event.points %></td>
          <td><%= truncate event.description, length: 40, separator: /\w+/ %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Upcomming Events</p>
<% end %>