<%= stylesheet_link_tag "internal-contact" %>
<body>

<div class = "container">
  <div class="box">

    <h1>Member Contact Information</h1>
    <%= form_tag(search_path, :method => "get") do %>
      <div class = "input-group">
        <div class="search-bar">
          <%= search_field_tag :search, params[:search], placeholder: "Search for member by first name or full name", class: "form-control" %>
        </div>
        <div>
          <%= button_tag "Search", :class => 'btn pink_button', :name => nil%>
        </div>
      </div>
    <% end %>
    <% if @members.length > 0%>
      <div class="table-style">
        <table>
          <thead>
            <th colspan="1"> </th>
            <th colspan="2"> Name</th>
            <th colspan="3"> Member Status</th>
            <th colspan="2"> Years Active</th>
            <th colspan="2"> Email</th>
          </thead>
          <tbody>
            <% @members.each do |user| %>
              <tr id=<%= "member_row_#{user.id}" %>>
                <td colspan="1">
                  <% if user.avatar_url %>
                    <%= image_tag(user.avatar_url, class: 'rounded-circle', size: 45, alt: "Profile Picture") %>
                  <% else %>
                    <%= image_tag("/assets/default.jpg", class: 'rounded-circle', size: 45, alt: "Profile Picture") %>
                  <% end %>
                </td>
                <td colspan="2"><%= user.full_name %></td>
                <td colspan="2"><%= get_user_status(user) %>
                <td colspan="3"><%= user.information.start_year %> - <%= user.information.end_year %></td>
                <td colspan="2"><%= user.email %></td>
              </tr>
            <% end %>
            <% @alumni.each do |user| %>
              <tr id=<%= "member_row_#{user.id}" %>>
              <td>
                <% if user.avatar_url %>
                  <%= image_tag(user.avatar_url, class: 'rounded-circle', size: 45, alt: "Profile Picture") %>
                <% else %>
                  <%= image_tag("/assets/default.jpg", class: 'rounded-circle', size: 45, alt: "Profile Picture") %>
                <% end %>
              </td>
                <td><%= user.full_name %></td>
                <td><%= get_user_status(user) %>
                <td><%= user.information.start_year %> - <%= user.information.end_year %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No members.</p>
    <% end %>
  </div>
</div>

</body>

