<div class='event_card', id=<%= "event_#{event_id}"%>>
  <h1><%= event_name %></h1>
  <div class='split-header'>
    <h2 class='split-left'><%= event_date.to_formatted_s(:get_date) %>, <%= event_date.to_formatted_s(:get_time) %></h2>
    <h2 class='split-right'><%= "Event Type: #{get_points_type(points_type_id.to_i)}" %></h2>
  </div>
  <p><%= event_description %></p>

  <%# show passcode %>
  <% if show_passcode %>
    <p><%= "Password: #{show_passcode}" %></p>
  <% end %>

  <%# passcode form %>
  <% if passcode %>
    <% if attended?(event_id) %>
      <p>You are already in attendance.</p>
    <% else %>
      <%= form_tag('attend_event', method: 'post') do %>
        <%= hidden_field_tag 'event_id', event_id %>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
        <%= label_tag 'password', 'Password:' %>
        <%= text_field_tag 'password', nil, autofocus: true %>
        <%= submit_tag "I'm here!" %>
      <% end %>
    <% end %>
  <% end %>

  <%# show attendance button %>
  <% if show_attendance %>
    <%= link_to 'Show Attendance', "/events/show_attendance/#{event_id}" %>
  <% end %>

  <%# edit button %>
  <% if edit %>
    <%= link_to 'Edit', "/events/#{event_id}/edit" %>
  <% end %>
</div>