<div class='event_card', id=<%= "event_#{event_id}"%>>
  <%# show date on left side of event card %>
  <div class='event_date'>
    <div class='date_text'>
      <p class='event_month'><%= event_date.to_formatted_s(:get_month) %></p>
      <p class='event_day'><%= event_date.to_formatted_s(:get_day) %></p>
      <p class='event_year'><%= event_date.to_formatted_s(:get_year) %></p>
    </div>
  </div>

  <div class='event_info'>
    <div class='event_body'>
      <p class='event_time'><%= event_date.to_formatted_s(:get_time) %></p>
      <h1 class='event_name'><%= event_name %></h1>
      <%= convert_line_breaks(event_description) %>
    </div>

    <% if is_attend %>
      <%# password form %>
      <div style='user-select:none;'><br/><br/><br/><br/><br/><br/></div>
      <div class='password-box event_card_footer'>
        <p>
          <%# show event type %>
          Event type: <b><%= get_points_type(points_type_id.to_i) %></b><br/>
          <% if attended?(event_id) %>
            <p>You are already in attendance.</p>
          <% else %>
            <%= form_tag('attend_event', method: 'post') do %>
              <%= hidden_field_tag 'event_id', event_id %>
              <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
              <%= label_tag :password %>
              <%= text_field_tag 'password', nil, autofocus: true, class: 'event_password_input' %>
              <%= submit_tag "I'm here!", class: 'pink_button' %>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>

    <% if is_admin %>
      <p class='event_card_footer'>
        <%# space between description and footer %>
        <div style='user-select:none;'></div>
        <%# show event type %>
        Event type: <b><%= get_points_type(points_type_id.to_i) %></b> <br/>
        <%# show password %>
        Password: <b><%= show_passcode %></b> <br/><br/>
        <%# show attendance button %>
        <%= link_to 'Show Attendance', "/events/show_attendance/#{event_id}", class: 'pink_button event_card_button' %>
        &ensp;
        <%# edit button %>
        <%= link_to 'Edit', "/events/#{event_id}/edit", class: 'black_button event_card_button' %>
      </p>
    <% end%>
  </div>
</div>