<div class='event_card', id=<%= "event_#{event_id}"%>>
  <%# show date on left side of event card %>
  <div class='event_date'>
    <div class='date_text'>
      <p class='event_month'><%= event_date.to_formatted_s(:get_month) %></p>
      <p class='event_day'><%= event_date.to_formatted_s(:get_day) %></p>
      <p class='event_year'><%= event_date.to_formatted_s(:get_year) %></p>
    </div>
  </div>

  <div class='event_info'>
    <%# show time in top right %>
    <p class='event_time'><%= event_date.to_formatted_s(:get_time) %></p>
    <h1 class='event_name'><%= event_name %></h1>
    <p><%= event_description %></p>

    <% if is_admin || is_attend %>
      <p></p>
    <% end %>

    <% if is_attend %>
      <%# password form %>
      <div class='password-box'>
        <p>
          <%# show event type %>
          Event type: <b><%= get_points_type(points_type_id.to_i) %></b><br/>
          <% if attended?(event_id) %>
            <p>You are already in attendance.</p>
          <% else %>
            Password: 
            <%= form_tag('attend_event', method: 'post') do %>
              <%= hidden_field_tag 'event_id', event_id %>
              <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
              <%= text_field_tag 'password', nil, autofocus: true, class: 'event_password_input' %>
              <%= submit_tag "I'm here!", class: 'pink_button' %>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>

    <% if is_admin %>
      <p>
        <%# show event type %>
        Event type: <b><%= get_points_type(points_type_id.to_i) %></b> <br/>
        <%# show password %>
        Password: <b><%= show_passcode %></b> <br/>
        <%# show attendance button %>
        <%= link_to 'Show Attendance', "/events/show_attendance/#{event_id}" %>
        |
        <%# edit button %>
        <%= link_to 'Edit', "/events/#{event_id}/edit" %>
      </p>
    <% end%>
  </div>
</div>