<%= stylesheet_link_tag 'application' %>
<h1>Events Page</h1>
<p>Events page stuff goes here</p>

<%# Display all events %>

<%# Event cards %>
<div class="row row-cols-3 row-cols-md-2 g-4">
<% @events.each do |event| %>
  <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= event.event_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><td><%= event.date %></td></h6>
          <h6 class="card-subtitle mb-2 text-muted"><td><%= event.points %></td></h6>
          <p class="card-text"><%= event.description %></p>
        <div>

      </div>
    </div>
<% end %>
</div>

<%# Create Event Button %>
<% if current_user %>
  <% if current_user.admin %>
    <%= link_to 'Create New Event', '/events/new' %>
  <% end %>
<% end %>



  