<%= stylesheet_link_tag 'application' %>
<h1>Events Page</h1>
<p>Events page stuff goes here</p>

<table>

  <thead>
    <tr>
      <th>Event Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Points</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.points %></td>
        
      </tr>
    <% end %>
  </tbody>


</table>


<%= link_to 'Create New Event', new_event_path %>


  