<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
      <% page.errors.each do |error| %>
        <% flash.alert =  "Update failed: " + error.full_message%>
      <% end %>
  <% end %>

  <div class="container">
    <div class="box wide-box">
      <h1>Manage <%= page.page_name%></h1>

      <div class="field" style="width:85%;">
        <%= form.text_area :page_data, style: 'width:100%; height:40vh;'%>
      </div>

      <div class="actions">
        <%= form.submit "Update page", :class => "pink_button" %>
      </div>
<% end %>
      <%= link_to 'Back', '/manage_pages' %>
    </div>
  </div>