<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @permission.uid %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @permission.admin %>
</p>

<p>
  <strong>Member:</strong>
  <%= @permission.member %>
</p>

<p>
  <strong>Alumni:</strong>
  <%= @permission.alumni %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
