<!DOCTYPE html>
<html>
  <head>
    <title>InfoOrganizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "nav_bar" %>

    <%= yield %>
    
    <% flash.each do |type, msg| %>
      <div <%= "class='flash #{type}'"%>>
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
